scratch.*
config/
data/candidate-images
data/og-ad-media/
data/textsim-queries/
data/*.docx
data/tv-ads-kantar-meta
data/tv-ads-kantar
*.xlsx
*.dta
*.pyc
__pycache__/
.ipynb_checkpoints/
.vscode/
candidate_mentions_regex2000.csv
automated-coding.pdf